body {
  background-color: rgb(223, 146, 242);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
  margin: 0 0 20px 0; /* keep space below title */
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: purple;
}

footer {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin: 20px;
  text-align: center;
}

a {
  color: purple;
}

.poem-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 3px solid purple;
  text-align: center;
}

#poem-text {
  font-size: 18px;
  line-height: 2;
  white-space: pre-line;
}

.form {
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px 15px;
  border: 2px solid purple;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}
